@font-face {
  font-family: "FasterOne";
  src: url("fonts/Faster_One/FasterOne-Regular.ttf");
}

@font-face {
  font-family: "GFSDidot";
  src: url("fonts/GFS_Didot/GFSDidot-Regular.ttf");
}
* {
  margin: 0;
}
h1,
h2,
h3,
a,
p {
  color: rgb(255, 255, 255);
  line-height: 1.5;
  font-family: "GFSDidot";
  text-align: center;
}
li {
  list-style: none;
  margin: .5rem 0rem;
  font-size: 1.2rem;
}
.container-lista ul :first-child{
  margin-top: .5rem;
  font-style: italic;
}
.lista-encuentros h1{
  font-size: 1.5rem;
  margin: 2rem;
}
.lista-deportiva h1{
  font-size: 1.5rem;
  margin: 2rem;
}

.letra {
  font-family: "FasterOne";
  font-size: 4rem;
  text-align: center;
}
header {
  background: rgb(42, 132, 126);
  background: linear-gradient(
    90deg,
    rgba(42, 132, 126, 0.9528186274509804) 10%,
    rgba(28, 28, 124, 0.933) 60%,
    rgba(15, 55, 78, 0.94) 95%
  );
}
header img {
  width: 100%;
  height: 100%;
}
aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(11, 59, 59, 1);
  padding: 1.5rem;
  width: 22em;
}

article {
  background-color: rgba(19, 71, 14, 0.5);
  border-radius: 0.5rem;
  line-height: 1.5;
  padding: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 1.5em;
  letter-spacing: 0.5em;
  background-color: rgba(42, 132, 126, 1);
}
.container-foto {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5rem auto;
}
.container-lista {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
  margin-bottom: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  width: 50rem;
}
.texto-presentacion {
  margin: 8rem 1rem;
}
.texto-presentacion p {
  margin-top: 3rem;
  font-size: 1.3rem;
  color: white;
  text-align: justify;
}
.main-content {
  width: 100%;
  display: flex;
}
.container-central {
  padding: 1.8rem;
  width: 80%;
  background-color: rgb(11, 59, 59);
}

.container-tabla {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.img-producto {
  background-color: rgba(22, 111, 105, 1);
  border-radius: 0.5rem;
  width: 17rem;
  height: 17rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.img-presentacion {
  width: 20rem;
  height: 17rem;
  padding: 0.5rem;
  margin: 5rem 1rem;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 2rem;
}
.letra {
  font-family: "FasterOne";
  font-style: oblique;
  background: -webkit-linear-gradient(
    rgba(250, 1, 1, 0.699),
    rgb(255, 136, 0),
    rgba(238, 255, 0, 0.856)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
  display: none;
}

.product {
  max-width: 80%;
  max-height: 80%;
  min-width: 50%;
  min-height: 50%;
}
div.container-foto div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
input {
  border-radius: 0.5rem;
  border: none;
  background-color: rgba(22, 111, 105, 1);
  color: rgb(255, 255, 255);
}
.form_item {
  width: 100%;
  padding: 0.75rem 1.25rem;
  margin: 0.5rem 0;
  box-sizing: border-box;
  border: none;
  background-color: #3cbc8d;
  color: rgb(250, 245, 245);
}
.label-item {
  font-family: "GFSDidot";
  color: rgb(255, 255, 255);
}
.formulario {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 2rem 8rem;
  font-family: "GFSDidot";
  width: 80%;
  margin-bottom: 5rem;
}
div.main-content > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 5rem;
  font-family: "GFSDidot";
  width: 80%;
}


li,
p {
  line-height: 1.5;
  font-family: "GFSDidot";
  color: rgb(255, 255, 255);
}

/* tabla */
#products {
  font-family: "GFSDidot";
  border-collapse: collapse;
  width: 100%;
  color: rgb(255, 255, 255);
}

#products td,
#products th {
  border: 0.0625rem solid #ddd;
  padding: 0.5rem;
}

#products tr:nth-child(even) {
  background-color: #1a686b;
}

#products tr:hover {
  background-color: rgb(123, 163, 50);
}

#products th {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: left;
  background-color: #052e1f;
  color: white;
}
.foto-eventos {
  width: 40%;
  height: 40%;
  margin-top: 1rem;
}
.button {
  padding: .2rem 1.2rem;
  font-size: 1.1rem;
  font-family: "GFSDidot";
  transition-duration: .5s;
  cursor: pointer;
  background-color: rgb(16, 68, 36);
  color: rgb(250, 250, 250);
  border-radius: 1.375rem;
}

.button:hover {
  background-color: rgba(163, 206, 46, 0.5);
  color: rgb(14, 13, 13);
  
}

